Index:
  Background: Build

Completion:
  AllScopes: true
  ArgumentLists: FullPlaceholders

Hover:
  ShowAKA: true

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true
  BlockEnd: true
